/* Home.css */

.home-page {
    background-color: white;
    color: black;
    height: 100vh;
    display: flex;
    align-items: center; /* Vertically center the content */
    padding: 0 20px; /* Add padding to the sides */
}

.home-page .content {
    flex: 1; /* Allow content to take up space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the text */
    margin-top: 30px;
}

.home-page h1 {
    font-family: 'Hellix', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: left; /* Left-align the text */
    color: black;
    
}

.home-page h3 {
    margin-bottom: 20px;
    text-align: left; /* Left-align the text */
    color: black;
    font-family: 'Hellix', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    
}

.home-page p {
    font-family: 'Hellix', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    text-align: left; /* Left-align the text */
    color: black;
    text-align: justify;
}

.home-page img {
    width: 100%;
    height: auto;
    border-radius: 30%; /* Make the image circular */
    margin-top: 60px;
}

.icon-row {
    display: flex;
    gap: 30px;
    justify-content: flex-start; /* Align icons to the start of the row */
    margin-top: 30px; /* Add margin to the top */
}

.icon-block {
    width: 50px; /* Set the block size */
    height: 50px; /* Set the block size */
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-block img {
    width: 50px; /* Set the width of the icon */
    height: 50px; /* Set the height of the icon */
}

/* Media Queries for Small Screens */
@media only screen and (max-width: 768px) {
    .home-page {
        height: auto; /* Auto height for small screens */
    }

    .home-page .content {
        margin-top: 20px; /* Reduce top margin for small screens */
    }

    .home-page h1 {
        font-size: 30px; /* Decrease font size for smaller screens */
    }

    .home-page h3 {
        font-size: 24px; /* Decrease font size for smaller screens */
        
    }

    .home-page p {
        font-size: 20px; /* Decrease font size for smaller screens */
       
    }

    .home-page img {
        margin-top: 40px; /* Reduce top margin for small screens */
    }

    .icon-row {
        margin-top: 20px; /* Reduce top margin for small screens */
        margin-bottom: 20px; /* Add bottom margin for small screens */
        justify-content: center; /* Center icons for small screens */
    }

    .icon-block {
        width: 40px; /* Decrease block size for smaller screens */
        height: 40px; /* Decrease block size for smaller screens */
    }

    .icon-block img {
        width: 40px; /* Decrease icon size for smaller screens */
        height: 40px; /* Decrease icon size for smaller screens */
    }
}
