.skills-container {

 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0; /* Add padding to create top and bottom margins */
  box-sizing: border-box; /* Ensure padding is included in the height */
  overflow-x: hidden; /* Remove horizontal scrollbar */
}

.content-container {
  background-color: black;
  border: 2px solid black;
  padding: 20px;
  margin: auto; /* Centering the container */
  max-width: 1000px; /* Adjust the maximum width as needed */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Updated shadow */
}

.heading {
  color: white;
  text-align: center; 
  font-family: 'Hellix', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
}

.top-row {
  text-align: center; /* Centering the content */
  margin-bottom: 20px;
}

.what-i-do {
  color: white;
  font-family: 'Hellix', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.who-i-am {
  color: white;
  font-family: 'Hellix', sans-serif;
  font-style: normal;
  font-size: 16px;
  margin-top: 10px; /* Added margin for spacing */
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: calc(2 * (300px + 20px)); /* Set max height for two rows */
}

.skill-item {
  flex: 0 0 calc(25% - 20px); /* Adjusted width to fit 4 items per row */
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(240, 237, 237, 0.5); /* Added shadow */
  padding: 10px; /* Equal padding for all skill blocks */
}

.skill-image {
  width: 100%;
  height: auto;
}

.skill-name {
  color: white;
  text-align: center;
  font-family: 'Hellix', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
  .content-container {
    padding: 10px; /* Reduced padding for smaller screens */
    margin: auto 20px; /* Adjusted margin for smaller screens */
    max-width: calc(100% - 40px); /* Adjusted max-width for smaller screens */
  }
  
  .heading {
    font-size: 28px; /* Further reduced font size for smaller screens */
  }
  
  .what-i-do {
    font-size: 16px; /* Further reduced font size for smaller screens */
  }
  
  .who-i-am {
    font-size: 12px; /* Further reduced font size for smaller screens */
  }
  
  .skills-list {
    overflow-y: auto; /* Add scrollbar for overflow */
  }
  
  .skill-item {
    flex: 0 0 calc(50% - 20px); /* Adjusted width to fit 2 items per row */
    margin-left: 10px; /* Added left margin for spacing */
    margin-right: 10px; /* Added right margin for spacing */
  }
}
